<!doctype html>
<html ng-app="scub" >
	<head>
		<title>Scutel - Simulation</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    	<script src="../js/data.js"></script>
	</head>

	<body ng-controller="scubController">
	 
	<form role="form" name="dataForm" ng-model="dataForm" >
		<div >
		<label for=plano>Selecione o plano:</label>
		<div class="plan" ng-repeat="plan in plans">
			<div class="radio">
			  <label><input type="radio" name="planId" id="planId" value="{{plan.id}}" ng-model="dataForm.planId">{{plan.name}}</label>
			</div>
		</div>
		</div>
		
		<div>
			  <label for="origin">Selecione o origem/destino:</label>
			  <div class="price" ng-repeat="price in prices">
				<div class="radio">
				  <label><input type="radio" name="priceId" id="priceId" value="{{price.id}}" ng-model="dataForm.priceId">Origem: {{price.origin}} / Destino: {{price.destiny}} (R$ {{price.price}})</label>
				</div>
			</div>
		</div>
		
		<div class="form-group">
		  <label for="usr">Entre com o tempo de ligação:</label>
		  <input type="number" class="form-control" id="callTime" name="callTime" maxlength="3" ng-model="dataForm.callTime" >
		</div>
		<button type="submit" class="btn btn-default" ng-click="submit()" >Simular</button>
		</form>
		<div ng-if="simulation != null">
			<p>Com o Plano: {{simulation.valueWithPlan}}</p>
			<p>Sem o Plano: {{simulation.valueWithoutPlan}}</p>
		</div>
	</body>
</html>