<!DOCTYPE html>
<html lang="en" ng-app="scub">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ScubTel - Simulação</title>

    <!-- Bootstrap core CSS -->
    <link href='../css/bootstrap.min.css' rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href='../css/bootstrap-theme.min.css' rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
   	<script src="../js/data.js"></script>
   	<script src="../js/bootstrap.min.js'"></script>
    <link rel='stylesheet' type='text/css' href='../css/main.css' />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document" ng-controller="scubController">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ScubTel - Simulação</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="jumbotron">
      <div class="container">
        <h1>ScubTel - Simulação</h1>
        <p>Entre com os dados abaixo e escolha o melhor plano para você.</p>
      </div>
    </div>
<div class="container">

<div class="col-md-4">
    	<form role="form" name="dataForm" ng-model="dataForm" >
		<div >
		<label for=plano>Selecione o plano:</label>
		<div class="plan" ng-repeat="plan in plans">
			<div class="radio">
			  <label><input type="radio" name="planId" id="planId" value="{{plan.id}}" ng-model="dataForm.planId">{{plan.name}}</label>
			</div>
		</div>
		</div>
		
		<div>
			  <label for="origin">Selecione o origem/destino:</label>
			  <div class="price" ng-repeat="price in prices">
				<div class="radio">
				  <label><input type="radio" name="priceId" id="priceId" value="{{price.id}}" ng-model="dataForm.priceId">Origem: {{price.origin}} / Destino: {{price.destiny}} (R$ {{price.price}})</label>
				</div>
			</div>
		</div>
		
		<div class="form-group">
		  <label for="usr">Entre com o tempo de ligação:</label>
		  <input type="number" class="form-control" id="callTime" name="callTime" maxlength="3" ng-model="dataForm.callTime" >
		</div>
		<button type="submit" class="btn btn-default" ng-click="submit()" >Simular</button>
		</form>
    </div>
    
<div class="col-md-4">
    <div ng-if="!simulation.valueWithPlan">
			<p class="thick">Custo com o Plano: R$ {{simulation.valueWithPlan}}</p>
			<p class="thick">Custo sem o Plano: R$ {{simulation.valueWithoutPlan}}</p>
		</div>
    </div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js'"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>